ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.click {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.click:hover {
  background-color: #111;
}
.left {
  float: left;
}
.left-size{
  position: absolute;
    /* left: auto; */
    width: 12%;
    top: 25px;
    left: inherit;
}