ul{
  list-style-type: none;
  text-align: center;
  padding: 1px 2px 1px;
  overflow: hidden;
  font-size: 17px;
  background-color: #efefef;
  text-transform: uppercase;
}
.click {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.click:hover {
  background-color: #111;
}
.left {
  float: left;
}
.left-size{
  position: absolute;
    /* left: auto; */
    width: 12%;
    top: 25px;
    left: inherit;
}
.bg{
  background-color: #10b5b5;
}
.image{
  background-image: url("./logo/logo.png");
}
.topnav-right {
  float: right;
  padding: 7px;
}